<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
        {% for user in users%}
            <tr>
                <th>{{user.id}}</th>
                <th><a href="/profile/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></th>
                <th>{{user.email}}</th>
                <th>{{user.created_at}}</th>
                <th>
                    <a href="/profile/{{user.id}}">Show</a>
                    <a href="/edit/{{user.id}}">Edit</a>
                    <a href="/delete/{{user.id}}">Delete</a>
                </th>
            </tr>
        {% endfor %}
    </table>
    <a href="/add">add user</a>
</body>
</html>